
<%- include("common/cdn.ejs") %>
<body>
    
    <%- include("common/navigationBar.ejs") %>

<h4 >A user with this <%= email %> or <%= rollNum%> already exist </h4>
<a href="/user/register">
<button class="btn btn-primary"> Back</button>
</a>

    <%- include("common/footer.ejs") %>
</body>







