<%- include("common/cdn.ejs") %>



    <style>
     @media only screen and (max-width: 800px) {
      #qrcode{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      #qrcode img{
        padding: 0;
        margin: 0;
        width: 55vw;
      }
      .qrdiv {
        width: 100vw;
        padding: 0;
        margin: 0;
      }
      .qrdiv tr,td{
        width: 100%;
    
      }
      .qrdiv table{
        width: 100%;
        margin-left: 0px auto;
      }
     }
        .qrdiv {
            text-transform: uppercase;
            margin: 30px auto;
            width: 100vw;
            background-color: rgb(108, 156, 158);
        }
    </style>
    <%- include("common/navigationBar.ejs") %>


        <div class=" qrdiv ">


<!-- table  -->
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Details </th>
        <th scope="col">User Infromation</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Full Name : </th>
        <td><%= Username%></td>
      </tr>
      <tr>
        <th scope="row">Branch :</th>
        <td> <%= branch%></td>
      </tr>
      <tr>
        <th scope="row">Roll Number :</th>
        <td>  <%=rollNum %></td>
      </tr>
      <tr>
        <th scope="row">Enrollment Number :</th>
        <td>  <%=enrollmentNum %></td>
      </tr>
      <tr>
        <th scope="row">Gender :</th>
        <td>  <%=gender %></td>
      </tr>
      <tr>
        <th scope="row">Address :</th>
        <td>  <%= Address%></td>
      </tr>

      <tr>
        <th scope="row">Qr :</th>
        <td>  <div id="qrcode" class=""></div>
            <div></td>
      </tr>
      
    </tbody>
  </table>
            <!-- table  -->

<!-- 
            <h5 class="p-2 m-1">Full Name : <%= Username%>
            </h5>
            <h5 class="p-2 m-1">Branch : <%= branch%>
            </h5>
            <h5 class="p-2 m-1">Roll Number : <%=rollNum %>
            </h5>
            <h5 class="p-2 m-1">Enrollment Number :<%= enrollmentNum%>
            </h5>
            <h5 class="p-2 m-1">Gender :<%=gender %>
            </h5>
            <h5 class="p-2 m-1">Address :<%= Address%>
            </h5> -->
            
            <!-- <div id="qrcode" class="" download>download</div>
            <div> -->

            
                

            <script type="text/javascript">
                new QRCode(document.getElementById("qrcode"), "https://digital-identity-tspw.onrender.com/user/info/<%= enrollmentNum %> ");
            </script>
            <%- include("common/footer.ejs") %>